### Pandas - HW Lesson 5 Start ML
#### Рассматриваются данные об американских закусочных

Обновляем `Pandas`, делаем импорт.

In [1]:
!pip install pandas -U
import pandas as pd

Requirement already satisfied: pandas in c:\users\barad\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\barad\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\barad\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\barad\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\barad\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Читаем данные, смотрим на превые 5 записей.

In [2]:
df = pd.read_csv('data.csv')
df.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

**Описание данных:**

`id` - уникальный идентификатор заведения.

`address` - физический адрес заведения.

`categories` - категории заведения (например, "Fast food restaurant").

`city` - город, в котором заведение находится.

`cuisines` - кухни, которые практикуются в заведении. Например "Mexican".

`dateAdded` - дата добавления записи. Будем считать, что она совпадает с датой открытия заведения.

`dateUpdated` - дата обновления информации о заведении.

`latitude` - географическая широта.

`longitude` - географическая долгота.

`menus.category` - категории пищи в меню.

`menus.currency` - валюта, в которой принимают оплату.

`menus.dateSeen` - дата, когда было заведено это меню.

`menus.description` - описание меню от заведения.

`menus.name` - название меню.

`name` - название заведения.

`province` - область (штат), где находится заведение.

Посмотрим на то к каким типам относятся поля DF, расперделение данных, общую информацию об DF.

In [3]:
df.shape

(77260, 16)

In [4]:
df.dtypes

id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

In [5]:
df.describe()

           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77260 entries, 0 to 77259
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 77260 non-null  object
 1   address            77260 non-null  object
 2   categories         77260 non-null  object
 3   city               77260 non-null  object
 4   cuisines           38384 non-null  object
 5   dateAdded          77260 non-null  object
 6   dateUpdated        77260 non-null  object
 7   latitude           55636 non-null  float64
 8   longitude          55636 non-null  float64
 9   menus.category     3729 non-null   object
 10  menus.currency     40511 non-null  object
 11  menus.dateSeen     77260 non-null  object
 12  menus.description  29323 non-null  object
 13  menus.name         77260 non-null  object
 14  name               77257 non-null  object
 15  province           77257 non-null  object
dtypes: float64(2), object(14)
memory usage: 9.4+ MB

#### Перечислите первые три значения колонки `dateAdded` через запятую и пробел в том порядке, в котором они были выведены.

In [7]:
print(f'{df.dateAdded[0]}, {df.dateAdded[1]}, {df.dateAdded[2]}')

2016-03-02T11:49:34Z, 2016-03-02T11:49:34Z, 2016-10-14T01:58:25Z

#### Давайте посмотрим, какой тип имеют колонки `city` и `latitude`.

Введите через пробел названия типов.

In [8]:
df[['city', 'latitude']].dtypes

city         object
latitude    float64
dtype: object

In [9]:
print(f'{df["city"].dtype}, {df["latitude"].dtype}')

object, float64

#### Какие средние значения в тех колонках, которые вывел `describe` в предыдущем задании?

Укажите их через пробел, округлив до двух знаков после запятой. Используйте точку в качестве десятичного разделителя.

In [10]:
df.describe().loc['mean'].round(2)

latitude     36.69
longitude   -98.71
Name: mean, dtype: float64

#### Сейчас в данных присутствуют пропущенные значения. Давайте их удалим.

Примените метод dropna.  Сколько осталось записей?

In [11]:
print(f'После удаления пропусков осталось {df.dropna().shape[0]} записей.')

После удаления пропусков осталось 1925 записей.

In [12]:
df.isna().sum()

id                       0
address                  0
categories               0
city                     0
cuisines             38876
dateAdded                0
dateUpdated              0
latitude             21624
longitude            21624
menus.category       73531
menus.currency       36749
menus.dateSeen           0
menus.description    47937
menus.name               0
name                     3
province                 3
dtype: int64

Исходный DF не изменился, результат удаления не был присвоен, пропуски в данных **сохранены**.

#### Отберите заведения, которые находятся в городе Калифорния (`California`), штат Миссури.  
Укажите индексы, под которыми полученные заведения расположены в датафрейме, через запятую и пробел в порядке возрастания.

In [13]:
df.query('city == "California" & province == "MO"')

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
40483,AVwdBeyk_7pvs4fz1cwP,308 S Oak St,"Gas Station,Convenience Stores,Grocery Stores,...",California,Pizza,2016-04-02T05:28:33Z,2016-09-14T02:53:47Z,38.630528,-92.566433,NaN,USD,"2016-04-02T05:28:33Z,2016-09-14T02:53:47Z",NaN,Breakfast Burrito,Casey's General Store,MO
52930,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, red corn tortilla shell, filled wit...",Volcano Taco,Taco Bell,MO
52931,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Volcano Burrito,Taco Bell,MO
52932,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Soft Taco Supreme Beef,Taco Bell,MO
52933,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Grilled Chicken Burrito,Taco Bell,MO
52934,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A warm, soft flour tortilla filled with authen...",Fresco Grilled Steak Soft Taco,Taco Bell,MO
52935,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Fresco Crunchy Taco,Taco Bell,MO
52936,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Fresco Burrito Supreme Chicken,Taco Bell,MO
52937,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,A crunchy taco made with premium seasoned beef...,Doritos Locos Tacos,Taco Bell,MO
52938,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Crunchy Taco Supreme,Taco Bell,MO
52939,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Crunchy Taco,Taco Bell,MO
65070,AVwdvUhykufWRAb58z0G,1002 W Buchanan St,Fast Food Restaurant,California,Take Out Restaurants,2015-11-06T10:12:53Z,2016-05-05T00:55:58Z,38.630332,-92.579018,NaN,NaN,"2016-04-02T05:28:16Z,2015-11-06T10:12:53Z","Spice up your morning with peppers, onions, fl...",Sausage Burrito,Mcdonald's,MO

Аналогичный результат, другой вариант решения:

In [14]:
df[
    (df['city'] == 'California') &
    (df['province'] == 'MO')
]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
40483,AVwdBeyk_7pvs4fz1cwP,308 S Oak St,"Gas Station,Convenience Stores,Grocery Stores,...",California,Pizza,2016-04-02T05:28:33Z,2016-09-14T02:53:47Z,38.630528,-92.566433,NaN,USD,"2016-04-02T05:28:33Z,2016-09-14T02:53:47Z",NaN,Breakfast Burrito,Casey's General Store,MO
52930,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, red corn tortilla shell, filled wit...",Volcano Taco,Taco Bell,MO
52931,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Volcano Burrito,Taco Bell,MO
52932,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Soft Taco Supreme Beef,Taco Bell,MO
52933,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Grilled Chicken Burrito,Taco Bell,MO
52934,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A warm, soft flour tortilla filled with authen...",Fresco Grilled Steak Soft Taco,Taco Bell,MO
52935,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Fresco Crunchy Taco,Taco Bell,MO
52936,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Fresco Burrito Supreme Chicken,Taco Bell,MO
52937,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,A crunchy taco made with premium seasoned beef...,Doritos Locos Tacos,Taco Bell,MO
52938,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Crunchy Taco Supreme,Taco Bell,MO
52939,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.631220,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Crunchy Taco,Taco Bell,MO
65070,AVwdvUhykufWRAb58z0G,1002 W Buchanan St,Fast Food Restaurant,California,Take Out Restaurants,2015-11-06T10:12:53Z,2016-05-05T00:55:58Z,38.630332,-92.579018,NaN,NaN,"2016-04-02T05:28:16Z,2015-11-06T10:12:53Z","Spice up your morning with peppers, onions, fl...",Sausage Burrito,Mcdonald's,MO

In [15]:
df.query('city == "California" & province == "MO"').index

Int64Index([40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937,
            52938, 52939, 65070],
           dtype='int64')

#### Отберите заведения `Taco Bell` в городе Калифорния (`California`), штат Миссури.

Укажите индексы этих заведений через запятую и пробел в порядке возрастания.

In [16]:
df[
    (df['city'] == 'California') &
    (df['province'] == 'MO') &
    (df['name'] == 'Taco Bell')
]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
52930,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, red corn tortilla shell, filled wit...",Volcano Taco,Taco Bell,MO
52931,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Volcano Burrito,Taco Bell,MO
52932,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Soft Taco Supreme Beef,Taco Bell,MO
52933,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Grilled Chicken Burrito,Taco Bell,MO
52934,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A warm, soft flour tortilla filled with authen...",Fresco Grilled Steak Soft Taco,Taco Bell,MO
52935,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Fresco Crunchy Taco,Taco Bell,MO
52936,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Fresco Burrito Supreme Chicken,Taco Bell,MO
52937,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,A crunchy taco made with premium seasoned beef...,Doritos Locos Tacos,Taco Bell,MO
52938,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Crunchy Taco Supreme,Taco Bell,MO
52939,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Crunchy Taco,Taco Bell,MO

In [17]:
df.query('city == "California" & province == "MO" & name == "Taco Bell"')

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
52930,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, red corn tortilla shell, filled wit...",Volcano Taco,Taco Bell,MO
52931,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Volcano Burrito,Taco Bell,MO
52932,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Soft Taco Supreme Beef,Taco Bell,MO
52933,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Grilled Chicken Burrito,Taco Bell,MO
52934,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A warm, soft flour tortilla filled with authen...",Fresco Grilled Steak Soft Taco,Taco Bell,MO
52935,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Fresco Crunchy Taco,Taco Bell,MO
52936,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,NaN,Fresco Burrito Supreme Chicken,Taco Bell,MO
52937,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,A crunchy taco made with premium seasoned beef...,Doritos Locos Tacos,Taco Bell,MO
52938,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Crunchy Taco Supreme,Taco Bell,MO
52939,AVwdKTFqIN2L1WUfs1SP,1020 W Buchanan St,"Fast Food Restaurant and Mexican Restaurant,Me...",California,NaN,2015-12-02T19:29:16Z,2016-05-05T00:56:00Z,38.63122,-92.580769,NaN,NaN,2016-04-02T05:28:11Z,"A crunchy, corn taco shell filled with seasone...",Crunchy Taco,Taco Bell,MO

In [18]:
df[
    (df['city'] == 'California') &
    (df['province'] == 'MO') &
    (df['name'] == 'Taco Bell')
].index

Int64Index([52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938,
            52939],
           dtype='int64')

Варианты решения эквивалентны друг другу.

In [19]:
df.query('city == "California" & province == "MO" & name == "Taco Bell"').index ==\
    df[(df['city'] == 'California') & (df['province'] == 'MO')
        & (df['name'] == 'Taco Bell')].index

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

#### Давайте найдем заведения `Taco Bell` или заведения, которые находятся в городе Нью-Йорк. 
При этом обязательно, чтобы в названии меню не было `Volcano Taco` и `Fresco Soft Taco` (именно таких значений колонки). Данные нужно сохранить в датафрейм `result`.

In [20]:
df[
    ((df['city'] == 'New York') | (df['name'] == 'Taco Bell')) &
    (~(df['menus.name'].isin(['Volcano Taco', 'Fresco Soft Taco']))) 
]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
131,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Burrito,Taco Bell,NH
132,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Taco 12 Pack,Taco Bell,NH
133,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Grilled Steak Soft Taco,Taco Bell,NH
135,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Grilled Steak Soft Taco,Taco Bell,NH
136,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Crunchy Taco,Taco Bell,NH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76904,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Tacos,USD,2016-08-21T00:00:00Z,NaN,Trio of Tacos,Hell's Kitchen,Nyc
76905,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,"Huevos, Etc.",USD,2016-08-07T00:00:00Z,NaN,Brunch Burrito,Hell's Kitchen,Nyc
76906,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,NaN,Grilled Chicken Mini Burrito,Hell's Kitchen,Nyc
76907,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,with pumpkin seed guacamole,Grilled Vegetable Mini Burrito,Hell's Kitchen,Nyc
76908,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Main,NaN,2016-08-21T00:00:00Z,NaN,Burritos,Hell's Kitchen,Nyc

#### Давайте отберем рестораны, где значение валюты, в которой принимают оплату, не пропущено.

In [21]:
curr_inst_null = df[
    ~(df['menus.currency'].isna())
]

In [22]:
curr_inst_null.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
15,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Potatoes, onion, peppers, mushroom, avocado, b...",Mondo Veggie Burrito,Java Joe's,NM
16,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Grilled tofu, potatoes and your choice of chil...",Tofu Burrito,Java Joe's,NM
17,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z",NaN,Black Bean Burrito,Java Joe's,NM
18,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,NaN,Burrito De Rajas,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
19,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,"lettuce, chihuahua cheese, black beans, mexica...",Taco,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn

In [23]:
curr_inst_null['menus.currency'].isna().sum()

0

Пропущенных значений действительно **нет!**

#### Попробуйте сделать `data['categories']`, `data[['categories']]`, посмотрите на тип и на значения их элементов.

In [24]:
df['categories'].head()

0    Restaurant Delivery Service,Restaurants,Pizza,...
1    Restaurant Delivery Service,Restaurants,Pizza,...
2         Golf Course, American Restaurant, and Resort
3                                 Fast Food Restaurant
4    Mexican Restaurant Mid-City West,Mexican Resta...
Name: categories, dtype: object

In [25]:
df[['categories']].head()

                                          categories
0  Restaurant Delivery Service,Restaurants,Pizza,...
1  Restaurant Delivery Service,Restaurants,Pizza,...
2       Golf Course, American Restaurant, and Resort
3                               Fast Food Restaurant
4  Mexican Restaurant Mid-City West,Mexican Resta...

In [26]:
print(type(df[['categories']]), type(df['categories']))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [27]:
print(f'{df[["categories"]].dtypes}, {df["categories"].dtypes}')

categories    object
dtype: object, object

`data['categories']` выдает _Series_, `data[['categories']]` выдает _DataFrame_. В обоих случаях тип данных _object_.

#### Напишите через запятую и пробел 5 городов с наибольшим количеством записей.

In [28]:
df['city'].value_counts(ascending=False).head()

San Diego        1924
Los Angeles      1603
Chicago          1186
San Francisco    1120
New York         1085
Name: city, dtype: int64

In [29]:
df['city'].value_counts(ascending=False).head().index

Index(['San Diego', 'Los Angeles', 'Chicago', 'San Francisco', 'New York'], dtype='object')

#### Посчитайте, сколько ресторанов `Taco Bell` находится в каждом городе. 
Отберите 5 городов, в которых ресторан встречается чаще всего. Количество ресторанов для этих городов с их названиями
сохраните в виде объекта `pd.Series` в переменную `result`.

In [30]:
result = df.query('name == "Taco Bell"').city.value_counts().head()

In [31]:
result

Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: city, dtype: int64

#### Давайте найдем рестораны, открытые в октябре.
Отправьте индексы первых пяти ресторанов через запятую и пробел в порядке возрастания.

In [32]:
df.dtypes

id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

In [33]:
df['dateAdded'] = pd.to_datetime(df['dateAdded'])

In [34]:
df['dateAdded'].dtype

datetime64[ns, UTC]

In [35]:
df[
    df['dateAdded'].dt.month == 10
].head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
21,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Crispy house-smoked pork belly, hoisin sauce, ...",Korean Pork Belly Tacos,Riff's Joint,Westhampton
22,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, corn and black bean salsa, guacam...",Speedy Gonzalez Burrito,Riff's Joint,Westhampton
23,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, jasmine rice and peanut slaw",Thai Dyed Burrito,Riff's Joint,Westhampton
24,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, cheddar, salsa, rice, sour cream,...",Burrito Supreme,Riff's Joint,Westhampton

In [36]:
df[
    df['dateAdded'].dt.month == 10
].head().index

Int64Index([2, 21, 22, 23, 24], dtype='int64')

#### Сделайте группировку по месяцу открытия ресторана (переменная `dateAdded`). 
Сколько ресторанов было открыто в каждом месяце года? Рассчитайте по количеству уникальных `id` ресторанов в каждом месяце.
Значения `dateAdded` должны при этом быть индексами. Результирующий датафрейм сохраните в `result`.

In [37]:
df.groupby(df['dateAdded'].dt.month).agg({'id': 'nunique'})

             id
dateAdded
1           308
2           257
3          4970
4          3224
5          1141
6          1356
7           645
8           479
9           554
10         4716
11         1550
12          239

In [38]:
df.groupby(df['dateAdded'].dt.month).agg({'id': 'count'})

              id
dateAdded
1           1258
2            994
3          20611
4          12171
5           4433
6           5536
7           2315
8           1542
9           1893
10         19542
11          5891
12          1074

В одной группе каждый `id` может повторяться (скажем, в течение месяца информация о ресторане обновлялась). Поэтому `count()` нам не подойдет!

#### В этом задании нужно добавить столбец `update_deltaс` количеством целых дней, полученных от разницы между `dateUpdated` и `dateAdded`.

Потом для каждого города найдите (в указанном порядке):

- среднее по переменной `update_delta`

- широту самой северной закусочной (чем севернее располжоена закусочная, тем больше будет значение широты)

Названия городов не должны быть индексами. Сохраните результирующий датафрейм в переменную `result`. Также сохраните в переменную `zep_mean` среднее значение `update_delta` по городу `Zephyrhills`.

In [39]:
df.dtypes

id                                object
address                           object
categories                        object
city                              object
cuisines                          object
dateAdded            datetime64[ns, UTC]
dateUpdated                       object
latitude                         float64
longitude                        float64
menus.category                    object
menus.currency                    object
menus.dateSeen                    object
menus.description                 object
menus.name                        object
name                              object
province                          object
dtype: object

In [40]:
df['dateUpdated'] = pd.to_datetime(df['dateUpdated'])

In [41]:
df['dateUpdated'].dtype

datetime64[ns, UTC]

In [56]:
df['update_delta'] = (df['dateUpdated']- df['dateAdded']).dt.days

In [57]:
df.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,336
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,336
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson,0
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot,24
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial,114

In [58]:
result = df.groupby('city', as_index=False).agg({'update_delta': 'mean', 'latitude': 'max'})
result.head()

        city  update_delta   latitude
0  Abbeville    114.857143  29.982108
1   Aberdeen     81.625000  46.975110
2    Abilene    206.454545  32.453090
3   Abingdon    303.500000  36.712800
4   Abington    393.000000  40.124851

In [59]:
zep_mean = float(result.query('city == "Zephyrhills"')['update_delta'])
zep_mean

329.69565217391306

#### Отберите рестораны, у которых в колонке `categories` упоминается `Pizza`.

Укажите индекс 3-го элемента, полученного после фильтрации

In [60]:
df.name[df.categories.str.contains('Pizza')]

0                   Gambino's Pizza
1                   Gambino's Pizza
66              Falbo Bros Pizzeria
67              Falbo Bros Pizzeria
158      New England House of Pizza
                    ...
76256        Figaro's Mexican Grill
76291        La Bella Roma Pizzeria
76507              Big Cheese Pizza
76669       Slackwater Pub Pizzeria
76709            Carbone's Pizzeria
Name: name, Length: 1538, dtype: object

In [61]:
df.name[df.categories.str.contains('Pizza')].index[2]

66

#### В этом задании снова нужно добавить столбец `update_delta`, куда будет записана разница в днях между `dateUpdated` и `dateAdded`.  Посчитайте среднее и медиану получившейся колонки.

Перечислите значения через пробел (сначала среднее, затем медиану), округлив до 2 знаков.

In [62]:
print(f'{round(df.update_delta.mean(), 2)} {round(df.update_delta.median(), 2)}')

326.22 364.0

In [49]:
df.update_delta.median()

-365.0

In [50]:
df.update_delta.describe()

count    77260.000000
mean      -327.157986
std        219.528157
min      -1277.000000
25%       -467.000000
50%       -365.000000
75%       -150.000000
max          0.000000
Name: update_delta, dtype: float64

#### В этом задании нужно отобрать записи, у которых более 20 категорий, далее их нужно сгруппировать по провинциям и подсчитать минимальную `longitude` в каждой. Округлите значения `longitude` до 3-х знаков после запятой.

Далее сохраните результирующий датафрейм в файл в формате csv с сепаратором `;`. Сам датафрейм должен содержать две колонки: `province` и `longitude`.

In [51]:
result_df = df[df.categories.str.split(',').apply(len) > 20].\
    groupby('province').agg({'longitude': 'min'}).reset_index()

In [52]:
result_df.head()

  province   longitude
0       AZ -110.136168
1       CA -122.417190
2       DC  -77.074610
3    G P O  -73.990491
4       KY  -87.454722

In [53]:
result_df.longitude = round(result_df.longitude, 3)

In [54]:
result_df

        province  longitude
0             AZ   -110.136
1             CA   -122.417
2             DC    -77.075
3          G P O    -73.990
4             KY    -87.455
5             MA    -71.055
6             MD    -77.453
7             NY    -76.794
8   St Simons Is    -81.394
9             TX    -94.939
10            VA    -77.093
11            WA   -122.383
12            WI    -89.377

In [55]:
result_df.to_csv('output.csv', sep=';', index=False)